In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .master('local[*]')
    .appName('myapp')
    .getOrCreate()
)

!wget https://tinyurl.com/pyspark-employee-csv -O employee.csv

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=759a7dd5d260efdd1c2cf2b6de307c7e574f3ff9ada8425719dbd00ed90e523b
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1
--2023-08-22 06:06:19--  https://tinyurl.com/pyspark-employee-csv
Resolving tinyurl.com (tinyurl.com)... 104.20.138.65, 104.20.139.65, 172.67.1.225, ...
Connecting to tinyurl.com (tinyurl.com)|104.20.138.65|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://raw.githubusercontent.com/justincheu-ng/misc/master/employee_data.csv [following]
--2023-08-22 06:06:19--  https://raw.githubusercontent.com/justincheu-ng/misc/master/employee_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 779998 (762K) [text/plain]
Saving to: ‘employee.csv’

employee.csv        100%[===================>] 761.72K  --.-KB/s    in 0.006s

2023-08-22 06:06:19 (114 MB/s) - ‘employee.csv’ saved [779998/779998]

In [ ]:
df = spark.read.csv('employee.csv')
df.show()

In [ ]:
df = spark.read.csv(
    'employee.csv',
    header=True,
    inferSchema=True
)
df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: integer (nullable = true)

In [ ]:
df.printSchema()

root
 |-- EmpID: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: string (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: string (nullable = true)

In [ ]:
df.select('*').show()

+-----+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|  FirstName|LastName|StartDate| ExitDate|               Title|       Supervisor|             ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3427|      Uriah| Bridges|20-Sep-19|     null|Production Techni...|     Peter Oneill|uriah.bridges@bil...|        CCDR|        Active|    Contract| Zone C|                 Temporary|            Unk|                  null|Production       |Finance & Accounting|07-10-1969|   MA|            Accounting|    Female|       34904|   White|    Widowed|      Fully Meets|                      4|
| 3428|      Paula|   Small|11-Feb-23|     null|Production Techni...|  Renee Mccormick|paula.small@bilea...|          EW|        Active|    Contract| Zone A|                 Part-Time|            Unk|                  null|Production       |              Aerial|30-08-1965|   MA|                 Labor|      Male|        6593|Hispanic|    Widowed|      Fully Meets|                      3|
| 3429|     Edward|    Buck|10-Dec-18|     null|  Area Sales Manager|   Crystal Walker|edward.buck@bilea...|          PL|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|                  null|            Sales|       General - Sga|06-10-1991|   MA|             Assistant|      Male|        2330|Hispanic|    Widowed|      Fully Meets|                      4|
| 3430|    Michael| Riordan|21-Jun-21|     null|  Area Sales Manager|   Rebekah Wright|michael.riordan@b...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|            Unk|                  null|            Sales|Finance & Accounting|04-04-1998|   ND|                 Clerk|      Male|       58782|   Other|     Single|      Fully Meets|                      2|
| 3431|    Jasmine|   Onque|29-Jun-19|     null|  Area Sales Manager|        Jason Kim|jasmine.onque@bil...|         TNS|        Active|    Contract| Zone A|                 Temporary|            Unk|                  null|            Sales|       General - Con|29-08-1969|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|
| 3432|      Maruk|  Fraval|17-Jan-20|     null|  Area Sales Manager|     Sheri Campos|maruk.fraval@bile...|         BPC|        Active|    Contract| Zone B|                 Full-Time|            Unk|                  null|            Sales|    Field Operations|03-04-1949|   CT|                Driver|      Male|        6050|   Black|    Married|      Fully Meets|                      3|
| 3433|      Latia|   Costa|06-Apr-22|03-Jul-23|  Area Sales Manager|      Jacob Braun|latia.costa@bilea...|         WBL|        Active|   Full-Time| Zone B|                 Temporary|    Involuntary|  Me see picture na...|            Sales|       General - Eng|01-07-1942|   CA|            Technician|    Female|       90007|Hispanic|   Divorced|          Exceeds|                      4|
| 3434|   Sharlene|   Terry|06-Nov-20|29-Jan-23|  Area Sales Manager|    Tracy Marquez|sharlene.terry@bi...|        CCDR|        Active|    Contract| Zone C|                 Full-Time|    Involuntary|  Blue community ty...|            Sales|           Engineers|07-03-1957|   OR|              Engineer|    Female|       97756|   White|   Divorced|      Fully Meets|                      2|
| 3435|        Jac|McKinzie|18-Aug-18|     null|  Area Sales Manager|    Sharon Becker|jac.mckinzie@bile...|         NEL|        Active|    Contract| Zone B|                 Part-Time|            Unk|                  null|            Sales|           Executive|15-05-1974|   TX|   Executive Assistant|      Male|       78789|   Black|    Widowed|          Exceeds|                      3|
| 3436|     Joseph| Martins|21-Jan-22|29-Jun-23|  Area Sales Manager|   George Jenkins|joseph.martins@bi...|         BPC|        Active|   Part-Time| Zone B|                 Temporary|    Resignation|  Summer personal bag.|            Sales|           Engineers|11-11-1949|   TX|              Engineer|      Male|       78207|   Asian|    Widowed|      Fully Meets|                      5|
| 3437|     Myriam|  Givens|04-Aug-23|     null|  Area Sales Manager|       Troy White|myriam.givens@bil...|         SVG|        Active|    Contract| Zone B|                 Temporary|            Unk|                  null|            Sales|    Field Operations|26-01-1964|   IN|            Technician|    Female|       46204|   Other|     Single|      Fully Meets|                      5|
| 3438|     Dheepa|  Nguyen|10-Aug-18|04-Nov-19|  Area Sales Manager|     Brian Miller|dheepa.nguyen@bil...|         MSC|        Active|   Full-Time| Zone C|                 Temporary|     Retirement|  Alone once than. ...|            Sales|       General - Con|06-04-1948|   GA|            Technician|    Female|       30428|   Asian|    Married|      Fully Meets|                      3|
| 3439|Bartholemew|Khemmich|25-May-22|27-Nov-22|  Area Sales Manager|    Charles Parks|bartholemew.khemm...|          EW|        Active|   Full-Time| Zone A|                 Temporary|    Involuntary|  Foot in theory mi...|            Sales|            Splicing|24-11-1981|   CO|               Splicer|      Male|       80820|   Other|     Single|      Fully Meets|                      3|
| 3440|       Xana|   Potts|05-Dec-19|17-Feb-23|  Area Sales Manager|   Gregory Walker|xana.potts@bilear...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|    Resignation|  Degree wish scien...|            Sales|Finance & Accounting|06-11-1951|   KY|            Controller|    Female|       40220|   White|   Divorced|      Fully Meets|                      3|
| 3441|     Prater|  Jeremy|28-Apr-19|     null|  Area Sales Manager|      Tyler Lewis|prater.jeremy@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                  null|            Sales|       General - Con|21-11-1989|   NV|               Lineman|      Male|       89139|   Asian|    Widowed|          Exceeds|                      4|
| 3442|     Kaylah|    Moon|09-Jul-19|16-Jun-22|  Area Sales Manager|     Ashley Scott|kaylah.moon@bilea...|         PYZ|        Active|   Full-Time| Zone A|                 Full-Time|     Retirement|  Fear particular m...|            IT/IS|    Field Operations|24-11-1952|   MA|               Laborer|      Male|        2810|   Black|     Single|          Exceeds|                      2|
| 3443|    Kristen|    Tate|05-Apr-21|12-May-23|  Area Sales Manager|     Lauren Jones|kristen.tate@bile...|         WBL|        Active|   Full-Time| Zone C|                 Part-Time|      Voluntary|  Wall body wonder ...|            IT/IS|Project Managemen...|08-04-1994|   KY|           Coordinator|      Male|        2621|   Asian|    Widowed|      Fully Meets|                      3|
| 3444|      Bobby| Rodgers|28-Nov-21|04-Feb-22|  Area Sales Manager|  Matthew Jackson|bobby.rodgers@bil...|         NEL|        Active|    Contract| Zone A|                 Part-Time|      Voluntary|  Visit foot nearly...|            Sales|           Engineers|15-11-1983|   KY|              Director|      Male|       44553|   Other|    Widowed|      Fully Meets|                      3|
| 3445|       Reid|    Park|16-Jan-21|     null|  Area Sales Manager|Michelle Mitchell|reid.park@bilearn...|          PL|        Active|    Contract| Zone C|                 Full-Time|            Unk|                  null|            Sales|Project Managemen...|07-12-1985|   KY|            Supervisor|    Female|        5360|   Other|    Married|          Exceeds|                      4|
| 3446|     Hector|  Dalton|24-Aug-21|     null|  Area Sales Manager|    Sydney French|hector.dalton@bil...|         BPC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|                  null|            Sales|    Field Operations|01-05-1996|   TX|               Driller|    Female|       16325|   White|   Divorced|          Exceeds|                      2|
+-----+-----------+--------+---------+---------+--------------------+-----------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 20 rows

In [ ]:
df.select(['FirstName', 'LastName', 'GenderCode']).show()

+-----------+--------+----------+
|  FirstName|LastName|GenderCode|
+-----------+--------+----------+
|      Uriah| Bridges|    Female|
|      Paula|   Small|      Male|
|     Edward|    Buck|      Male|
|    Michael| Riordan|      Male|
|    Jasmine|   Onque|    Female|
|      Maruk|  Fraval|      Male|
|      Latia|   Costa|    Female|
|   Sharlene|   Terry|    Female|
|        Jac|McKinzie|      Male|
|     Joseph| Martins|      Male|
|     Myriam|  Givens|    Female|
|     Dheepa|  Nguyen|    Female|
|Bartholemew|Khemmich|      Male|
|       Xana|   Potts|    Female|
|     Prater|  Jeremy|      Male|
|     Kaylah|    Moon|      Male|
|    Kristen|    Tate|      Male|
|      Bobby| Rodgers|      Male|
|       Reid|    Park|    Female|
|     Hector|  Dalton|    Female|
+-----------+--------+----------+
only showing top 20 rows

In [ ]:
(df.select(['FirstName', 'LastName', 'GenderCode'])
  #.filter(df['GenderCode'] == 'Female')
  .where(df['GenderCode'] == 'Female')
  .show()
)

+---------+--------+----------+
|FirstName|LastName|GenderCode|
+---------+--------+----------+
|    Uriah| Bridges|    Female|
|  Jasmine|   Onque|    Female|
|    Latia|   Costa|    Female|
| Sharlene|   Terry|    Female|
|   Myriam|  Givens|    Female|
|   Dheepa|  Nguyen|    Female|
|     Xana|   Potts|    Female|
|     Reid|    Park|    Female|
|   Hector|  Dalton|    Female|
|  Mariela| Schultz|    Female|
|     Axel|    Howe|    Female|
|   Milton|    Wall|    Female|
|     Cory|Robinson|    Female|
|    Celia|  Curtis|    Female|
| Valentin|  Reilly|    Female|
|   Ryland|Shepherd|    Female|
|  Esteban| Gilbert|    Female|
|    Sonny|   Horne|    Female|
|   Thomas|Chandler|    Female|
|    Sarai|   Stone|    Female|
+---------+--------+----------+
only showing top 20 rows

In [ ]:
(
    df.select(['FirstName', 'LastName', 'GenderCode', 'MaritalDesc'])
      .where((df.GenderCode == 'Female') & (df.MaritalDesc == 'Single'))
      .show()
)

+---------+---------+----------+-----------+
|FirstName| LastName|GenderCode|MaritalDesc|
+---------+---------+----------+-----------+
|   Myriam|   Givens|    Female|     Single|
|     Cory| Robinson|    Female|     Single|
| Valentin|   Reilly|    Female|     Single|
|   Willie|Patterson|    Female|     Single|
|   Tyrone|     Sosa|    Female|     Single|
|  Marques|Armstrong|    Female|     Single|
|    Rohan|  Chapman|    Female|     Single|
|      Lee|     Frye|    Female|     Single|
| Veronica|     Rowe|    Female|     Single|
|    Aylin|     Berg|    Female|     Single|
|    Rayne|     Kerr|    Female|     Single|
|    Sanaa|    Glass|    Female|     Single|
|  Mildred|   Gentry|    Female|     Single|
|     Jean|Crimmings|    Female|     Single|
|   Angela|   Erilus|    Female|     Single|
|Jaqueline|  Terrell|    Female|     Single|
|  Brenton|   Monroe|    Female|     Single|
|   Marely|    Dixon|    Female|     Single|
|   Kayley|    Myers|    Female|     Single|
|  Gabriel|   Dodson|    Female|     Single|
+---------+---------+----------+-----------+
only showing top 20 rows

In [ ]:
(
    df.select(['FirstName', 'LastName', 'GenderCode', 'MaritalDesc'])
      .where((df.GenderCode == 'Female') | ~(df.MaritalDesc == 'Single'))
      .show()
)

+---------+--------+----------+-----------+
|FirstName|LastName|GenderCode|MaritalDesc|
+---------+--------+----------+-----------+
|    Uriah| Bridges|    Female|    Widowed|
|  Jasmine|   Onque|    Female|    Married|
|    Latia|   Costa|    Female|   Divorced|
| Sharlene|   Terry|    Female|   Divorced|
|   Dheepa|  Nguyen|    Female|    Married|
|     Xana|   Potts|    Female|   Divorced|
|     Reid|    Park|    Female|    Married|
|   Hector|  Dalton|    Female|   Divorced|
|  Mariela| Schultz|    Female|    Widowed|
|     Axel|    Howe|    Female|   Divorced|
|   Milton|    Wall|    Female|   Divorced|
|    Celia|  Curtis|    Female|   Divorced|
|   Ryland|Shepherd|    Female|   Divorced|
|  Esteban| Gilbert|    Female|    Married|
|    Sonny|   Horne|    Female|    Widowed|
|   Thomas|Chandler|    Female|    Married|
|    Sarai|   Stone|    Female|    Widowed|
| Jerimiah|  Harmon|    Female|    Widowed|
|   Kimora| Parsons|    Female|   Divorced|
|    Devyn|  Powers|    Female|   Divorced|
+---------+--------+----------+-----------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: integer (nullable = true)

In [ ]:
df.select('Current Employee Rating').describe().show()

+-------+-----------------------+
|summary|Current Employee Rating|
+-------+-----------------------+
|  count|                   3000|
|   mean|                  2.969|
| stddev|     1.0150775639429104|
|    min|                      1|
|    max|                      5|
+-------+-----------------------+

In [ ]:
df = df.withColumn('Rating out of 10', df['Current Employee Rating'] * 2)
df.select(['Current Employee Rating', 'Rating out of 10']).show()

# In Panda:
# df['Rating out of 10'] = df['Current Employee Rating'] * 2

+-----------------------+----------------+
|Current Employee Rating|Rating out of 10|
+-----------------------+----------------+
|                      4|               8|
|                      3|               6|
|                      4|               8|
|                      2|               4|
|                      3|               6|
|                      3|               6|
|                      4|               8|
|                      2|               4|
|                      3|               6|
|                      5|              10|
|                      5|              10|
|                      3|               6|
|                      3|               6|
|                      3|               6|
|                      4|               8|
|                      2|               4|
|                      3|               6|
|                      3|               6|
|                      4|               8|
|                      2|               4|
+-----------------------+----------------+
only showing top 20 rows

In [ ]:
#df = df.drop('Current Employee Rating')
#df = df.withColumnRenamed('Rating out of 10', 'Current Employee Rating')
df.select(['FirstName', 'Current Employee Rating']).show()

AnalysisException: ignored

In [ ]:
df = df.withColumn('Name', df.FirstName + ' ' + df.LastName)
df.select('FirstName', 'LastName', 'Name').show()

+-----------+--------+----+
|  FirstName|LastName|Name|
+-----------+--------+----+
|      Uriah| Bridges|null|
|      Paula|   Small|null|
|     Edward|    Buck|null|
|    Michael| Riordan|null|
|    Jasmine|   Onque|null|
|      Maruk|  Fraval|null|
|      Latia|   Costa|null|
|   Sharlene|   Terry|null|
|        Jac|McKinzie|null|
|     Joseph| Martins|null|
|     Myriam|  Givens|null|
|     Dheepa|  Nguyen|null|
|Bartholemew|Khemmich|null|
|       Xana|   Potts|null|
|     Prater|  Jeremy|null|
|     Kaylah|    Moon|null|
|    Kristen|    Tate|null|
|      Bobby| Rodgers|null|
|       Reid|    Park|null|
|     Hector|  Dalton|null|
+-----------+--------+----+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

# F.expr()
df = df.withColumn('Name', F.expr('CONCAT(FirstName, " ", LastName)'))
df.select(['FirstName', 'LastName', 'Name']).show()

+-----------+--------+--------------------+
|  FirstName|LastName|                Name|
+-----------+--------+--------------------+
|      Uriah| Bridges|       Uriah Bridges|
|      Paula|   Small|         Paula Small|
|     Edward|    Buck|         Edward Buck|
|    Michael| Riordan|     Michael Riordan|
|    Jasmine|   Onque|       Jasmine Onque|
|      Maruk|  Fraval|        Maruk Fraval|
|      Latia|   Costa|         Latia Costa|
|   Sharlene|   Terry|      Sharlene Terry|
|        Jac|McKinzie|        Jac McKinzie|
|     Joseph| Martins|      Joseph Martins|
|     Myriam|  Givens|       Myriam Givens|
|     Dheepa|  Nguyen|       Dheepa Nguyen|
|Bartholemew|Khemmich|Bartholemew Khemmich|
|       Xana|   Potts|          Xana Potts|
|     Prater|  Jeremy|       Prater Jeremy|
|     Kaylah|    Moon|         Kaylah Moon|
|    Kristen|    Tate|        Kristen Tate|
|      Bobby| Rodgers|       Bobby Rodgers|
|       Reid|    Park|           Reid Park|
|     Hector|  Dalton|       Hector Dalton|
+-----------+--------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Name: string (nullable = true)

In [ ]:
df.select('JobFunctionDescription').describe().show()

+-------+----------------------+
|summary|JobFunctionDescription|
+-------+----------------------+
|  count|                  3000|
|   mean|                  null|
| stddev|                  null|
|    min|            Accountant|
|    max|                Welder|
+-------+----------------------+

In [ ]:
df.groupBy('JobFunctionDescription').count().show()

+----------------------+-----+
|JobFunctionDescription|count|
+----------------------+-----+
|                 Labor|    6|
|                Tester|    6|
|             Contracts|    2|
|              Services|    1|
|                Runner|   12|
|        Safety Manager|    2|
|               Planner|    7|
|                   Cpo|    2|
|                   Evp|    1|
|        Administrative|   56|
|           Coordinator|   96|
|                   Cfo|    3|
|               Flagger|   34|
|       Model Assistant|   13|
|                Welder|    5|
|            Controller|    7|
|            Specialist|   15|
|               Lineman|  169|
|             Principal|    3|
|              Director|   45|
+----------------------+-----+
only showing top 20 rows

In [ ]:
(
    df
      .groupBy(['JobFunctionDescription', 'GenderCode'])
      .count()
      .show()
)

+----------------------+----------+-----+
|JobFunctionDescription|GenderCode|count|
+----------------------+----------+-----+
|             Associate|      Male|    3|
|            Specialist|    Female|   11|
|      Field Technician|    Female|    3|
|              Services|      Male|    1|
|                   Cpo|    Female|    1|
|                Welder|    Female|    3|
|  Field Project Man...|      Male|    5|
|            Generalist|    Female|    1|
|       General Manager|      Male|    1|
|        Administrative|    Female|   30|
|                   Evp|    Female|    1|
|   Executive Assistant|      Male|    4|
|                Helper|      Male|    1|
|                 Labor|      Male|    2|
|              Engineer|      Male|  149|
|            Specialist|      Male|    4|
|       Project Manager|      Male|   41|
|           Electrician|    Female|    1|
|   Executive Assistant|    Female|    2|
|            Accountant|      Male|    1|
+----------------------+----------+-----+
only showing top 20 rows

In [ ]:
(
    df
      .groupBy(['JobFunctionDescription', 'GenderCode'])
      .pivot('GenderCode')
      .count()
      .show()
)

+----------------------+----------+------+----+
|JobFunctionDescription|GenderCode|Female|Male|
+----------------------+----------+------+----+
|             Associate|      Male|  null|   3|
|            Specialist|    Female|    11|null|
|      Field Technician|    Female|     3|null|
|              Services|      Male|  null|   1|
|                   Cpo|    Female|     1|null|
|                Welder|    Female|     3|null|
|  Field Project Man...|      Male|  null|   5|
|            Generalist|    Female|     1|null|
|       General Manager|      Male|  null|   1|
|        Administrative|    Female|    30|null|
|                   Evp|    Female|     1|null|
|   Executive Assistant|      Male|  null|   4|
|                Helper|      Male|  null|   1|
|                 Labor|      Male|  null|   2|
|              Engineer|      Male|  null| 149|
|            Specialist|      Male|  null|   4|
|       Project Manager|      Male|  null|  41|
|           Electrician|    Female|     1|null|
|   Executive Assistant|    Female|     2|null|
|            Accountant|      Male|  null|   1|
+----------------------+----------+------+----+
only showing top 20 rows

In [ ]:
(
    df.groupBy('JobFunctionDescription')
      .agg({'Name':'min'})
      .show()
)

+----------------------+------------------+
|JobFunctionDescription|         min(Name)|
+----------------------+------------------+
|            Accountant|       Brady Yoder|
|            Accounting|    Ann Montgomery|
|        Administration|   Alfred Digitale|
|        Administrative|     Abagail Banks|
|         Administrator|    Adalyn Vaughan|
|               Analyst|      Dean Winters|
|            Apprentice|         Gordon Wu|
|             Assistant|Abbigail Blanchard|
|             Associate|   Addisyn Aguilar|
|             Attendant|       Hana Lucero|
|               Billing|  Angelique Mathis|
|  Business Development|   Nickolas Guzman|
|                   Ceo|      Jacoby Lyons|
|                   Cfo|   Barbara Sutwell|
|  Chief Operating O...|       Samson Meza|
|                   Cio|    Raegan Stanton|
|            Civil Hand|      Karter Perry|
|              Clerical|     Katelyn Brown|
|                 Clerk|      Alden Powers|
|  Construction Manager|    Alfred Goodman|
+----------------------+------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Name: string (nullable = true)