# DF with Netflix Titles

## Setup

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = (
    SparkSession
    .builder
    .master('local[*]')
    .appName('myapp')
    .getOrCreate()
)

!wget https://tinyurl.com/pyspark-netflix-csv -O netflix.csv

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=d848e6000683bf901db58eecfc3fe0a3c793ef5abc145d68e8330544faa8f5fd
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1
--2023-08-22 09:22:13--  https://tinyurl.com/pyspark-netflix-csv
Resolving tinyurl.com (tinyurl.com)... 172.67.1.225, 104.20.138.65, 104.20.139.65, ...
Connecting to tinyurl.com (tinyurl.com)|172.67.1.225|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://raw.githubusercontent.com/justincheu-ng/misc/master/netflix.csv [following]
--2023-08-22 09:22:13--  https://raw.githubusercontent.com/justincheu-ng/misc/master/netflix.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3399671 (3.2M) [text/plain]
Saving to: ‘netflix.csv’

netflix.csv         100%[===================>]   3.24M  --.-KB/s    in 0.05s

2023-08-22 09:22:14 (64.3 MB/s) - ‘netflix.csv’ saved [3399671/3399671]

In [ ]:
df = (
    spark.read
         .csv('netflix.csv',header=True,inferSchema=True)
         .withColumn('date_added', F.trim('date_added'))
         .withColumn('date_added', F.to_date('date_added', format="MMMM d, yyyy"))
         .dropna()
)
df.show()

+-------+-------+--------------------+-------------------+--------------------+--------------------+----------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|           director|                cast|             country|date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+-------------------+--------------------+--------------------+----------+------------+------+---------+--------------------+--------------------+
|     s8|  Movie|             Sankofa|       Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|2021-09-24|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|
|     s9|TV Show|The Great British...|    Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|2021-09-24|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|
|    s10|  Movie|        The Starling|     Theodore Melfi|Melissa McCarthy,...|       United States|2021-09-24|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|
|    s13|  Movie|        Je Suis Karl|Christian Schwochow|Luna Wedler, Jann...|Germany, Czech Re...|2021-09-23|        2021| TV-MA|  127 min|Dramas, Internati...|After most of her...|
|    s25|  Movie|               Jeans|         S. Shankar|Prashanth, Aishwa...|               India|2021-09-21|        1998| TV-14|  166 min|Comedies, Interna...|When the father o...|
|    s28|  Movie|           Grown Ups|       Dennis Dugan|Adam Sandler, Kev...|       United States|2021-09-20|        2010| PG-13|  103 min|            Comedies|Mourning the loss...|
|    s29|  Movie|          Dark Skies|      Scott Stewart|Keri Russell, Jos...|       United States|2021-09-19|        2013| PG-13|   97 min|Horror Movies, Sc...|A family’s idylli...|
|    s30|  Movie|            Paranoia|     Robert Luketic|Liam Hemsworth, G...|United States, In...|2021-09-19|        2013| PG-13|  106 min|           Thrillers|Blackmailed by hi...|
|    s39|  Movie| Birth of the Dragon|       George Nolfi|Billy Magnussen, ...|China, Canada, Un...|2021-09-16|        2017| PG-13|   96 min|Action & Adventur...|A young Bruce Lee...|
|    s42|  Movie|                Jaws|   Steven Spielberg|Roy Scheider, Rob...|       United States|2021-09-16|        1975|    PG|  124 min|Action & Adventur...|When an insatiabl...|
|    s43|  Movie|              Jaws 2|     Jeannot Szwarc|Roy Scheider, Lor...|       United States|2021-09-16|        1978|    PG|  116 min|Dramas, Horror Mo...|Four years after ...|
|    s44|  Movie|              Jaws 3|          Joe Alves|Dennis Quaid, Bes...|       United States|2021-09-16|        1983|    PG|   98 min|Action & Adventur...|After the staff o...|
|    s45|  Movie|   Jaws: The Revenge|     Joseph Sargent|Lorraine Gary, La...|       United States|2021-09-16|        1987| PG-13|   91 min|Action & Adventur...|After another dea...|
|    s47|  Movie|          Safe House|    Daniel Espinosa|Denzel Washington...|South Africa, Uni...|2021-09-16|        2012|     R|  115 min|  Action & Adventure|Young CIA operati...|
|    s49|  Movie|        Training Day|      Antoine Fuqua|Denzel Washington...|       United States|2021-09-16|        2001|     R|  122 min|   Dramas, Thrillers|A rookie cop with...|
|    s52|  Movie|InuYasha the Movi...|  Toshiya Shinohara|Kappei Yamaguchi,...|               Japan|2021-09-15|        2002| TV-14|   99 min|Action & Adventur...|With their bigges...|
|    s53|  Movie|InuYasha the Movi...|  Toshiya Shinohara|Kappei Yamaguchi,...|               Japan|2021-09-15|        2003| TV-14|   99 min|Action & Adventur...|The Great Dog Dem...|
|    s54|  Movie|InuYasha the Movi...|  Toshiya Shinohara|Kappei Yamaguchi,...|               Japan|2021-09-15|        2004| TV-PG|   88 min|Action & Adventur...|Ai, a young half-...|
|    s55|  Movie|InuYasha the Movi...|  Toshiya Shinohara|Kappei Yamaguchi,...|               Japan|2021-09-15|        2001| TV-PG|  100 min|Action & Adventur...|A powerful demon ...|
|    s57|  Movie|Naruto Shippuden ...|    Masahiko Murata|Junko Takeuchi, C...|               Japan|2021-09-15|        2011| TV-14|  102 min|Action & Adventur...|Mistakenly accuse...|
+-------+-------+--------------------+-------------------+--------------------+--------------------+----------+------------+------+---------+--------------------+--------------------+
only showing top 20 rows

## Task

### 1. Count the number of movies and TV Show

In [ ]:
# your code

df.count()

5316

### 2. List all the directors

In [ ]:
# your code
(
  df.select('director')
    .distinct()
    .show()
)

+--------------------+
|            director|
+--------------------+
|           Eric Meza|
|          John Wells|
|         Erol Özlevi|
|   Jennifer Westcott|
|       Neeraj Pandey|
|   Wash Westmoreland|
|       Patricia Font|
|          Bobby Roth|
|      Aleksey German|
| Rhiannon Bannenberg|
|      Elizabeth Wood|
|          Manish Jha|
|        April Mullen|
|Harry Elfont, Deb...|
|          Will Gluck|
|Jesús Magaña Vázquez|
|      Gail Willumsen|
|Jacques Perrin, J...|
|         John Milius|
|        Pramod Pawar|
+--------------------+
only showing top 20 rows

### 3. Which title has the longest description?

In [ ]:
# your code
max_length =(
 df.select(F.length(F.col('description')))
   .agg({"length(description)":"max"})
   .collect()[0][0]
)

(
  df.filter(F.length(F.col("description")) == max_length)
    .show()
)

+-------+-----+-----+------------+--------------------+-------+----------+------------+------+--------+--------------------+--------------------+
|show_id| type|title|    director|                cast|country|date_added|release_year|rating|duration|           listed_in|         description|
+-------+-----+-----+------------+--------------------+-------+----------+------------+------+--------+--------------------+--------------------+
|  s4949|Movie|Billu|Priyadarshan|Irrfan Khan, Shah...|  India|2018-04-01|        2009| TV-PG| 132 min|Dramas, Internati...|An Indian village...|
+-------+-----+-----+------------+--------------------+-------+----------+------------+------+--------+--------------------+--------------------+

In [ ]:
df.groupBy('show_id').agg(F.max(F.length('description')).alias('max_length')) \
.orderBy(F.col('max_length').desc()).limit(1).show()

+-------+----------+
|show_id|max_length|
+-------+----------+
|  s4949|       248|
+-------+----------+

### 4. Create a pivot table on "year" against "type"

In [ ]:
# Your code

df.groupBy('release_year').pivot('type').count().show()

+------------+-----+-------+
|release_year|Movie|TV Show|
+------------+-----+-------+
|        1987|    8|   null|
|        1956|    2|   null|
|        2016|  566|     10|
|        2020|  408|     33|
|        2012|  159|      4|
|        1958|    3|   null|
|        1972|    4|   null|
|        1988|   15|   null|
|        2019|  492|     24|
|        2017|  638|     17|
|        1977|    5|   null|
|        2014|  234|      8|
|        1971|    5|   null|
|        1984|   11|   null|
|        1982|   15|   null|
|        2013|  195|      2|
|        2005|   65|   null|
|        2000|   32|   null|
|        1965|    2|   null|
|        1962|    3|   null|
+------------+-----+-------+
only showing top 20 rows

### 5. Create a new column to calculate years between release year and year added to Netflix.

In [ ]:
# Your code

df = df.withColumn('gap', F.year(df.date_added) - df.release_year)
df.select(['release_year', 'date_added', 'gap']).show()

+------------+----------+----+
|release_year|date_added| gap|
+------------+----------+----+
|        1993|2021-09-24|28.0|
|        2021|2021-09-24| 0.0|
|        2021|2021-09-24| 0.0|
|        2021|2021-09-23| 0.0|
|        1998|2021-09-21|23.0|
|        2010|2021-09-20|11.0|
|        2013|2021-09-19| 8.0|
|        2013|2021-09-19| 8.0|
|        2017|2021-09-16| 4.0|
|        1975|2021-09-16|46.0|
|        1978|2021-09-16|43.0|
|        1983|2021-09-16|38.0|
|        1987|2021-09-16|34.0|
|        2012|2021-09-16| 9.0|
|        2001|2021-09-16|20.0|
|        2002|2021-09-15|19.0|
|        2003|2021-09-15|18.0|
|        2004|2021-09-15|17.0|
|        2001|2021-09-15|20.0|
|        2011|2021-09-15|10.0|
+------------+----------+----+
only showing top 20 rows

### 6. How many movie has Steven Spielberg directed?

In [ ]:
# Your code

df.filter(df.director == 'Steven Spielberg').count()

11

### 7. Which actress/actor has been casted in Comedies the most?

In [ ]:
# Your code

df1 = df.filter(F.col('listed_in').like('%Comedies%'))

df1 = df1.withColumn('cast_exploded', F.explode(F.split('cast', ', ')))

df1 = df1.groupBy('cast_exploded').count().orderBy(F.col("count").desc()).limit(1)

df1.show()

+-------------+-----+
|cast_exploded|count|
+-------------+-----+
|  Anupam Kher|   20|
+-------------+-----+

### 8. Create a pivot table for country against categories

In [ ]:
# Your code

df2 = df.withColumn('country_exploded', F.explode(F.split('country', ', ')))
df2 = df2.withColumn('listed_in_exploded', F.explode(F.split('listed_in', ', ')))
df2.groupBy('country_exploded').pivot('listed_in_exploded').count().show()

+----------------+------------------+--------------+------------+----------------+------------------------+-----------------+--------------+--------+--------------+-----------+-------------+----------+------+--------------------+-------------+------------------+--------------------+----------------------+--------+---------------+------------+------+----------------+----------+---------------+-----------------+----------------+-------------------+-------------------------+-------------+---------------+----------------------------+---------------------+-----------+---------+---------+------------+-------------------+--------+------------+-------------+---------+
|country_exploded|Action & Adventure|Anime Features|Anime Series|British TV Shows|Children & Family Movies|Classic & Cult TV|Classic Movies|Comedies|Crime TV Shows|Cult Movies|Documentaries|Docuseries|Dramas|Faith & Spirituality|Horror Movies|Independent Movies|International Movies|International TV Shows|Kids' TV|Korean TV Shows|LGBTQ Movies|Movies|Music & Musicals|Reality TV|Romantic Movies|Romantic TV Shows|Sci-Fi & Fantasy|Science & Nature TV|Spanish-Language TV Shows|Sports Movies|Stand-Up Comedy|Stand-Up Comedy & Talk Shows|TV Action & Adventure|TV Comedies|TV Dramas|TV Horror|TV Mysteries|TV Sci-Fi & Fantasy|TV Shows|TV Thrillers|Teen TV Shows|Thrillers|
+----------------+------------------+--------------+------------+----------------+------------------------+-----------------+--------------+--------+--------------+-----------+-------------+----------+------+--------------------+-------------+------------------+--------------------+----------------------+--------+---------------+------------+------+----------------+----------+---------------+-----------------+----------------+-------------------+-------------------------+-------------+---------------+----------------------------+---------------------+-----------+---------+---------+------------+-------------------+--------+------------+-------------+---------+
|          Russia|                 4|          null|        null|            null|                       1|             null|          null|       1|          null|       null|            1|      null|     3|                null|            1|              null|                   5|                     1|    null|           null|        null|  null|            null|      null|           null|             null|               2|               null|                     null|         null|           null|                        null|                 null|       null|        1|     null|           1|               null|    null|        null|         null|        1|
|        Paraguay|                 1|          null|        null|            null|                    null|             null|          null|    null|          null|       null|         null|      null|  null|                null|         null|              null|                   1|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|         Senegal|              null|          null|        null|            null|                    null|             null|          null|    null|          null|       null|         null|      null|     1|                null|         null|                 1|                   1|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|          Sweden|                 2|          null|        null|            null|                    null|             null|          null|       5|          null|          1|            4|      null|    15|                null|         null|                 6|                  17|                  null|    null|           null|        null|  null|               2|      null|              1|             null|            null|               null|                     null|            1|              1|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|        5|
|     Philippines|                 5|          null|           1|            null|                       2|             null|          null|      28|             1|       null|         null|      null|    50|                null|            4|                 3|                  78|                     1|    null|           null|           4|  null|               1|      null|             35|                1|            null|               null|                     null|            1|           null|                        null|                 null|          1|     null|        1|        null|               null|    null|        null|         null|        3|
|       Singapore|                 5|          null|           1|            null|                    null|             null|          null|    null|             1|          1|            1|      null|     7|                null|            3|                 1|                  14|                  null|    null|           null|        null|  null|            null|      null|              1|             null|               1|               null|                     null|         null|              1|                        null|                 null|       null|     null|        1|        null|               null|    null|        null|         null|        3|
|        Malaysia|                 5|          null|        null|            null|                       1|             null|          null|       7|          null|       null|         null|      null|    11|                null|            4|                 1|                  17|                     1|    null|           null|        null|  null|            null|      null|              2|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|        1|     null|           1|               null|    null|        null|         null|     null|
|          Turkey|                 5|          null|        null|            null|                       2|             null|          null|      56|             2|       null|         null|      null|    29|                null|            4|                 3|                  78|                     5|    null|           null|        null|  null|               1|      null|             23|                1|            null|               null|                     null|            2|           null|                        null|                 null|          1|        4|     null|           1|               null|    null|           1|         null|        3|
|          Malawi|              null|          null|        null|            null|                       1|             null|          null|    null|          null|       null|         null|      null|     1|                null|         null|                 1|                null|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|            Iraq|              null|          null|        null|            null|                    null|             null|          null|    null|          null|       null|            1|      null|  null|                null|         null|              null|                   1|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|         Germany|                31|          null|        null|               1|                      17|             null|          null|      41|          null|          4|           10|         1|    79|                   1|            7|                31|                  81|                     2|    null|           null|        null|  null|               8|      null|              9|             null|              13|               null|                     null|            4|              4|                        null|                 null|       null|        1|     null|        null|               null|    null|        null|         null|       26|
|     Afghanistan|              null|          null|        null|            null|                    null|             null|          null|    null|          null|       null|            1|      null|  null|                null|         null|              null|                   1|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|        Cambodia|                 2|          null|        null|            null|                       1|             null|          null|       2|          null|       null|         null|      null|     2|                null|         null|              null|                   2|                  null|    null|           null|        null|  null|            null|      null|           null|             null|               1|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|          Jordan|              null|          null|        null|            null|                    null|             null|          null|       2|          null|       null|         null|      null|     5|                null|            1|                 1|                   6|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|        2|
|           Sudan|              null|          null|        null|            null|                    null|             null|          null|    null|          null|       null|         null|      null|     1|                null|         null|              null|                null|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|          France|                37|          null|        null|            null|                      23|             null|             6|      50|             3|          2|           26|      null|   166|                   3|           10|                73|                 190|                     5|       3|           null|           1|     1|               7|      null|             22|             null|              10|               null|                     null|            8|              5|                           1|                    2|          3|        3|     null|        null|               null|    null|        null|         null|       44|
|          Greece|                 2|          null|        null|               1|                    null|             null|          null|       1|          null|       null|         null|         1|     3|                null|         null|                 2|                   1|                     1|    null|           null|        null|  null|            null|      null|              1|             null|               1|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|       Sri Lanka|              null|          null|        null|            null|                    null|             null|          null|    null|          null|       null|            1|      null|  null|                null|         null|              null|                   1|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
|          Taiwan|                 3|          null|        null|            null|                    null|             null|          null|       2|             3|       null|            1|      null|    10|                null|            3|                 3|                  16|                     8|    null|           null|           1|  null|               2|      null|              2|                2|            null|               null|                     null|            1|           null|                        null|                    1|          1|        5|        1|           2|               null|    null|           1|         null|        3|
|         Algeria|              null|          null|        null|            null|                    null|             null|             1|    null|          null|       null|         null|      null|     3|                null|         null|                 1|                   3|                  null|    null|           null|        null|  null|            null|      null|           null|             null|            null|               null|                     null|         null|           null|                        null|                 null|       null|     null|     null|        null|               null|    null|        null|         null|     null|
+----------------+------------------+--------------+------------+----------------+------------------------+-----------------+--------------+--------+--------------+-----------+-------------+----------+------+--------------------+-------------+------------------+--------------------+----------------------+--------+---------------+------------+------+----------------+----------+---------------+-----------------+----------------+-------------------+-------------------------+-------------+---------------+----------------------------+---------------------+-----------+---------+---------+------------+-------------------+--------+------------+-------------+---------+
only showing top 20 rows