In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=b2dc659a8298ced4d3d213f83e4f87bbf6d1ceec52c10d7032b24cb342aab3b2
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark. sql import SparkSession

spark = SparkSession \
  .builder           \
  .appName('myapp') \
  .getOrCreate()

In [ ]:
spark

In [ ]:
sc = spark.sparkContext

In [ ]:
nums = range(1, 501) # 1 to 500
rdd = sc.parallelize(nums)

In [ ]:
print(rdd)

PythonRDD[1] at RDD at PythonRDD.scala:53

In [ ]:
rdd.collect()

In [ ]:
rdd.take(15)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
rdd.map(lambda num: num**2).take(15)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [ ]:
rdd.map(lambda num: (num, num**2)).take(15)

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225)]

In [ ]:
pair_rdd = rdd.map(lambda num: (num, num**2))

In [ ]:
pair_rdd.take(15)

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225)]

In [ ]:
pair_rdd.filter(lambda x: len(str(x[1])) == 3).max(lambda x: x[1])

(31, 961)

In [ ]:
length_rdd = rdd.map(lambda num: (num, num**2, len(str(num**2))))
length_rdd.take(15)

[(1, 1, 1),
 (2, 4, 1),
 (3, 9, 1),
 (4, 16, 2),
 (5, 25, 2),
 (6, 36, 2),
 (7, 49, 2),
 (8, 64, 2),
 (9, 81, 2),
 (10, 100, 3),
 (11, 121, 3),
 (12, 144, 3),
 (13, 169, 3),
 (14, 196, 3),
 (15, 225, 3)]

In [ ]:
grouped_rdd = length_rdd.groupBy(lambda x: x[2])
grouped_rdd.take(15)

[(2, <pyspark.resultiterable.ResultIterable at 0x78cad09343a0>),
 (4, <pyspark.resultiterable.ResultIterable at 0x78cad09349a0>),
 (6, <pyspark.resultiterable.ResultIterable at 0x78cad0936350>),
 (1, <pyspark.resultiterable.ResultIterable at 0x78cad0935690>),
 (3, <pyspark.resultiterable.ResultIterable at 0x78cad0934a00>),
 (5, <pyspark.resultiterable.ResultIterable at 0x78cad0936410>)]

In [ ]:
sorted_rdd = grouped_rdd.sortByKey()
sorted_rdd.take(15)

[(1, <pyspark.resultiterable.ResultIterable at 0x78cad0934970>),
 (2, <pyspark.resultiterable.ResultIterable at 0x78cad0934280>),
 (3, <pyspark.resultiterable.ResultIterable at 0x78cad0936110>),
 (4, <pyspark.resultiterable.ResultIterable at 0x78cad0936740>),
 (5, <pyspark.resultiterable.ResultIterable at 0x78cad0934e80>),
 (6, <pyspark.resultiterable.ResultIterable at 0x78cae6e4bfd0>)]

In [ ]:
length_counts = length_rdd.map(lambda x: (x[2], 1)).reduceByKey(lambda a, b: a + b)

for length, count in length_counts.collect():
    print("Numbers with length {}: {}".format(length, count))

In [ ]:
sorted_rdd.map(lambda x: (x[0], len(list(x[1])))).take(15)

[(1, 3), (2, 6), (3, 22), (4, 68), (5, 217), (6, 184)]

In [ ]:
#https://colab.research.google.com/drive/1oTlxhlHUG7BtCUnP1wp630Pp7bMsAixj?usp=sharing